html{
    font-size: 15px;
}
body{
    background-image: url("resources/img/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
    color: white;

}
h1.label_register_form {
    text-align: center;
    color: blueviolet;
    
}
h1.label_login_form{
    text-align: center;
    color:seagreen;
}
.login_form{
    margin: 0rem;
    border: none;
text-align: center;
    padding: 2rem;
    width: 15rem;
    height: 14rem;

    background-color: darkolivegreen;

}
a{
    color: white;
    padding: 1rem;
}
nav{
    text-align: center;
   /* margin-left: 25%;*/
}
/* Atribut de tip ID*/
#formular_exemplu{
    color: aqua;
}
/*Atribut de tip CLASS*/
